

@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<p>
    Nunc velit odio, ultrices id mauris nec, volutpat finibus mauris. Sed nunc magna, <br>
    vehicula id accumsan in, auctor non mi. Vivamus pulvinar imperdiet nunc nec rhoncus. <br>
    Praesent dictum urna efficitur tristique aliquet. Maecenas non urna elementum, facilisis <br>
    turpis nec, ultrices dolor. Morbi facilisis in dolor nec eleifend. Maecenas rhoncus <br>
    turpis non nisl imperdiet, in varius libero lacinia. Ut vitae consequat augue. <br>
    Mauris vehicula ligula sed elementum dapibus. Vivamus ut odio neque. Pellentesque <br>
    eleifend euismod nunc, eget dictum turpis aliquam vitae. Interdum et malesuada fames <br>
    ac ante ipsum primis in faucibus. Integer venenatis placerat velit semper efficitur. <br>
    Pellentesque condimentum aliquet elit, nec sollicitudin ligula iaculis a. <br>
    Duis aliquet gravida tempus. Proin dapibus purus nec libero euismod consequat.<br>
</p>