

@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<p>
    Aliquam et pretium tellus, et dictum ex. Suspendisse eget quam porta, <br>
    placerat ligula quis, suscipit massa. Duis nec ante tellus. Morbi imperdiet <br>
    sodales elit, non mollis nibh. Proin non ligula sed risus lacinia pretium id eu nulla.<br>
</p>

<p>
    For home customers:1-(800)-108-4747 <br>
    For business customers:1-(800)-108-4746
</p> 